
/* video.css */
.tg-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.tg-video-empty-state {
  text-align: center;
}

.tg-button-primary {
  background-color: #4f46e5;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
}

.tg-button-primary:hover {
  background-color: #3c3bb4;
}
